<!doctype html>
<html>
<title>Twenga crawling results</title>
<meta name="author" content="Balthazar Rouberol">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="icon" type="images/png" href="static/favicon_normal.png">
<link rel="stylesheet" type="text/css" href="static/style.css" />

<!-- script taken from http://www.kryogenix.org/code/browser/sorttable/ -->
<script type="text/javascript" src="static/sorttable.js"></script>

<body>
{% block table %}
{% endblock %}
</body>
</html>
